<%- include ../partials/header.ejs %>
<h1>All Upcoming events</h1>
<nav>
  <ul>
    <li>
      <a href="/events/new">Create New Event</a>
    </li>

    <li>
      <a href="/users">Home</a>
    </li>

  </ul>

</nav>



<% for (let i = 0; i < event.length; i++) {%>
	<div class="indexEvents"><p><%= event[i].title%></p>
	<p>When: <%= event[i].date %></p>
	<p>Description: <%=event[i].description %></p>
	<p>Location: <%=event[i].location %></p>
	<p>Number of people needed: <%=event[i].numberOfPeople%></p>
	<p><img src="<%=event[i].img %>"></p> 
		<div id ="participate" >
		<a href="/users/attend/<%=event[i]._id%>">participate</a></div>	

	</div>
<%}%>

<%- include ../partials/footer.ejs %>