
<%- include ../partials/header.ejs %>

<nav>
	<ul>
		<li>
			<a href="/events/new">Create New Event</a>
		</li>

		<li>
			<a href="/users">Home</a>
		</li>

	</ul>

</nav>


<% for (let i = 0; i < event.length; i++) {%>
	<p><%= event[i].title%></p>
	<p><%= event[i].date %></p>
	<p><%=event[i].description %></p>
	<a href="/users/attend/<%=event[i]._id%>">participate</a>
<hr>
<% } %>

<%- include ../partials/footer.ejs %>