<%- include ../partials/header.ejs %> 

  <title>Show Page</title>
</head>
<body>


  <h1><%=event.title%></h1>
  <form action="/events" method="PUT">
  <p>Name of Event: <%= event.title%></p>
  <p>Event Description: <%= event.description%></p>
  <p>Location: <%= event.location%></p>
  <p>Date and Time: <%= event.date%></p>
  <p>Number of people needed: <%= event.numberOfPeople%></p> 
  <p><img src="<%=event.img%>"></p>
  <button>Participate in Event</button>
</form>

<a href="/users">Back to Home page</a>

<%- include ../partials/footer.ejs %> 