<%- include ../partials/header.ejs %> 

  <title>Show Page</title>
</head>
<body>

  <h1><%=event.title%></h1>
  <p>Name of Event: <%= event.title%></p>
  <p>Event Description: <%= event.description%></p>
  <p>Location: <%= event.location%></p>
  <p>When: <%= event.date.toDateString() %></p>
  <p>What Time: <%= event.date.getHours()%>:<%= event.date.getMinutes()%> </p>
  <p>Number of people needed: <%= event.numberOfPeople%></p> 
  <p><img src="<%=event.img%>"></p>

<!--   <br><a href="/users/attend/<%=event._id%>">participate</a><br> -->


  
<a href="/users">Back to Home page</a>

<%- include ../partials/footer.ejs %> 