<%- include ../partials/header.ejs %>

<h2>Hosting Events</h2>
<%for (let i = 0; i <allEventsOwn.length; i++) {%>
	<p>Title:</p>
	<p><%=allEventsOwn[i].title %></p>
	<p>Description:</p>
	<p><%=allEventsOwn[i].description %></p>
	<p>Date:</p>
	<p><%=allEventsOwn[i].date%></p>
	<p>Number of people</p>
	<p><%=allEventsOwn[i].numberOfPeople%></p>
	<img src="<%=allEventsOwn[i].img%>">

	<form action='/events/<%= allEventsOwn[i]._id %>?_method=DELETE' method='POST'>
		<button>Cancel Event</button>
	</form>
	
<%}%>

<h2>Events to visit</h2>

<% for (var i = 0; i < allEventsAtt.length; i++) { -%>
	<p><%=allEventsAtt[i].title%></p>
	<p><%= allEventsAtt[i].description %></p>
	<img src="<%=allEventsAtt[i].img %>">
<% } -%>

	

<%- include ../partials/footer.ejs %>