<%- include ../partials/header.ejs %>
<h1>Events I organized</h1>
<header>
  <a href="/events/new">Organize a new volunteer event</a> <br>  
  <a href="/users">Back to Home Page</a><br>
  <a href="/users/logout">Sign Out</a><br>
  </header>

  <%for (let i = 0; i <allEventsOwn.length; i++) {%>
<div id="eventsOrganized">
    <a href="/events/<%=allEventsOwn[i]._id%>/edit">Edit Event " <%= allEventsOwn[i].title%>"</a>
    <p>Name of Event: <%= allEventsOwn[i].title%></p>
    <p>Event Description: <%= allEventsOwn[i].description%></p>
    <p>Location: <%= allEventsOwn[i].location%></p>
   <p>When: <%= allEventsOwn[i].date.toDateString() %></p>
  <p>What Time: <%= allEventsOwn[i].date.getHours()%>:<%= allEventsOwn[i].date.getMinutes()%> </p>
    <p>Number of people needed: <%= allEventsOwn[i].numberOfPeople%></p> 
    <img src="<%=allEventsOwn[i].img%>">
      <form action="/events/<%=allEventsOwn[i]._id%>?_method=DELETE" method="POST">
            <button type="submit">Cancel Event</button>
       <!-- <a href="/events/<%=allEventsOwn[i]._id%>/edit">Edit</a> -->
       
      </form>

  <%}%>
</div>


<h1>Events I am attending</h1>

<div id="eventsAttending">
  <% for (var i = 0; i < allEventsAtt.length; i++) { -%>
  	<p><%=allEventsAtt[i].title%></p>
  	<p><%= allEventsAtt[i].description %></p>
  	<img src="<%=allEventsAtt[i].img %>">
  	 <form action='/events/attend/<%=allEventsAtt[i]._id%>?_method=DELETE' method='POST'>
  		  <button>unable to participate</button>
  	 </form>
  <% } -%>
</div>



<%- include ../partials/footer.ejs %>

